{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "printWidth": 80,
    "singleAttributePerLine": true
}
